<%- include('../layouts/header') %> 
<%- include('../layouts/navbar') %> 
    
    <div class="container">
        <h1 class="text-center mb-4">Ships List</h1>
        <a class="btn btn-sm btn-primary" href="/">Home</a>
        <a class="btn btn-sm btn-primary" href="/ships">Refresh List</a>
        <hr/>

        <div class="row">
            <% ships.forEach(ships => { %>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h5><%= ships.name %></h5>
                            <h6><i><%= ships.type %></i></h6>
                            <small><%= ships.power %></small>
                        </div>
                        <div class="d-flex gap-2 m-4">
                            <a class="btn btn-sm btn-primary" href="/ships/edit/<%= ships.id %>">Ubah</a>
                            <a class="btn btn-sm btn-danger" href="/ships/delete/<%= ships.id %>">Delete</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

<%- include('../layouts/footer') %> 
