<%- include('../layouts/header') %> 

    <div class="container-fluid">
        <div class="contaier text-center">
            <h3>Author and Books</h3>
            <a class="btn btn-sm btn-primary" href="/">Home</a>
            <a class="btn btn-sm btn-primary" href="/books">Refresh List</a>
        </div>
        <hr/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Books List</h3>
            </div>
        </div>
        
        <div class="row">
            <% books.forEach(books => { %>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top" src="<%= books.image %>" alt="Images">
                        <div class="card-body">
                            <h5><%= books.title %></h5>
                            <p>Rp. <%= books.price %></p>
                            <small class="badge bg-primary"><%= books.genre %></small>
                            <i><%= books.page %></i>
                            <hr/>
                            <div>
                                <b>Author: </b>
                                <small><i><%= books.author.name %>, <%= books.author.age %> Years Old</i></small>
                            </div>
                            <div>
                                <b>Release Date: </b>
                                <small><%= books.released_date %></small>
                            </div>
                        </div>
                        <div class="d-flex gap-2 m-4">
                            <a class="btn btn-sm btn-primary" href="/books/edit/<%= books.id %>">Ubah</a>
                            <a class="btn btn-sm btn-danger" href="/books/delete/<%= books.id %>">Delete</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

<%- include('../layouts/footer') %> 
